* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background-image:url('imagenes/imagen.jpg') ;
}
.form-register {
    width:400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: orange;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4´{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
    line-height: 40px;
    color: white;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.form-register a:hover {
    color:blue;
    text-decoration: underline;
}
.form-register .botons {
    width: 100%;
    background: #1f53c5;
    padding: 12px;
    color:white;
    margin: 16px 0;
    font-size: 16px;
}